@media screen and (max-width: 700px) {
    
    .menuContainer {
        display: flex;
        flex-direction: column;
    }

    .button {
        margin-top: 5px;
        width: 300px;
    }
    .principalMovie {
        background: url('../imagens/mainmovie730.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media screen and (min-width:1000px) {
    .description {
        width: 40%;
    }
}